<article>
	<h1 style="text-align: center;">Sorry, but we weren't able to sign you in right now.</h1>
	<% if params[:message] %>
		<h2 style="text-align: center;">The error we received is: <%= params[:message] %></h2>
	<% end %>
</article>