<div class="markdown-box">
	<table class="markdown-table">
		<tr>
			<th colspan="2">
				<i class="icon-markdown"></i> Format your submissions using Markdown.
			</th>
		</tr>
		<tr>
			<td>Bold</td>
			<td><strong>**bold**</strong></td>
		</tr>
		<tr>
			<td>Italic</td>
			<td><em>*italic*</em></td>
		</tr>
		<tr>
			<td>Link</td>
			<td>[Link Text](http://example.com/)</td>
		</tr>
		<tr>
			<td>List</td>
			<td>
				<code>* list-element-1<br>
					* list-element-2<br>
					&nbsp;&nbsp;&nbsp;&nbsp;* nested-element-starts-with-4-spaces</code>
			</td>
		</tr>
		<tr><td colspan="2">
		<%= link_to('More on Markdown', 'http://daringfireball.net/projects/markdown/basics', :target => '_blank') %>
		</td></tr>
	</table>
</div>