<article id="attribution">

	<header>
		Attributing to OnCall Aid
	</header>

	<p>Everything our users create on OnCallAid is meant to be shared, and is licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0 license</a> specifically for that purpose. This license specifies that you must <strong>&ldquo;attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work)&rdquo;</strong>. To this end, we require that you:
		<ol>
		<li><strong>Visually indicate that the content is from OnCallAid</strong>. It doesn&#8217;t have to be obnoxious; a discreet text blurb is fine.</li>
		<li><strong>Display a link that points directly to the original content</strong>. (e.g. '<%= slug_url(:slug => Article.first.slug, :chapter_slug => Article.first.chapter.slug) %>')</li>
		</ol>
	</p>

</article>