<article>
	<header>Disclaimer</header>

	<p>In short &mdash; this resource is intended as a study and memory aid, not as an authoritative source for clinical information. We don't take responsibility for how you use the information you find on this website. Be smart and use your judgement in the clinical context!</p>
</article>