<article id="ios-ad">
	<header>Support OnCallAid and MSF by Carrying Us in Your Pocket.</header>

	<!-- <p>OnCallAid will always be free, but you can help support our server costs by purchasing the iOS (iPhone &amp; iPad) app to carry in your pocket &mdash; all the same content, no internet connection required.</p>
	<p>All proceeds (after paying for the server!) will be donated to <a href="http://www.msf.org/">Médecins Sans Frontières (MSF)</a>.</p> -->

	<p>OnCallAid will always be free, but you can help support our server costs by purchasing the iOS (iPhone &amp; iPad) app to carry in your pocket &mdash; all the same content, no internet connection required.</p>
	<p>The app is currently <strong>free</strong> in the App Store, but once we've got more content up all proceeds (after paying for the server!) will be donated to <a href="http://www.msf.org/">Médecins Sans Frontières (MSF)</a>.</p>

	<%= link_to(image_tag('app_store_ad_550px.png'), 'http://itunes.apple.com/app/oncallaid/id552411551', :class => 'app-store') %>
	<table class="screenshots">
		<tr>
			<td><%= image_tag('screenshots/1.png') %></td>
			<td><%= image_tag('screenshots/2.png') %></td>
		</tr>
	</table>
</article>