<article class="feedback">
	<header>Thanks!</header>
	<p>Thanks for sending us feedback so we can work toward making OnCallAid even better. If your feedback requires a response, we will be in touch shortly.</p>
</article>